name: reviewdog
on: 
  pull_request:
  workflow_dispatch:

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate ephemeral token
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.HELPER_APP_ID }}
          private_key: ${{ secrets.HELPER_APP_KEY }}

      - name: Run Vale
        uses: errata-ai/vale-action@reviewdog
        with:
          files: '["content", "README.md"]'
          # github-pr-check, github-pr-review, github-check
          reporter: github-pr-check
          token: ${{ steps.generate-token.outputs.token }}